.about-image {
	padding-top:0;
	width: 100%;
}

.job-postings li {
    text-align: center;
    padding: 30px 0;
}

.job-postings li {
    border-bottom: 1px solid #CCCCCC;
}

.job-postings li:first-child {
    border-top: 1px solid #CCCCCC;
}

.job-postings .btn {
    margin: 0;
}

@media only screen and (max-width: 992px) {
    .job-postings .m-r-80 {
        margin: 0 0 20px;
        display: block;
    }
}